#textdomain wesnoth-units
[unit_type]
    id=crush1
    name= _ "Crusher lvl1"
    race=towerVe
    gender=male
    image="units/human-outlaws/thug.png"
    profile="portraits/humans/thug.png"
    ellipse="misc/ellipse-nozoc"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=1
    movement_type=smallfoot
    movement=0
    experience=30
    level=0
    alignment=neutral
    advances_to=crush2
    cost=10
    usage=archer
    description= _ "Crushers are cheap and hard hitting but have few strikes. They level up quickly but merely become better fighters when they do."
    die_sound={SOUND_LIST:HUMAN_DIE} }

    [attack]
        name=club
        description= _ "club"
        icon=attacks/club-small.png
        type=impact
        range=melee
        damage=14
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=club
        [/filter_attack]
        offset=0.0~0.2,0.2~0.6,0.6~0.4,0.4~0.0
        start_time=-500
        [frame]
            duration=100
            image="units/human-outlaws/thug-melee-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/human-outlaws/thug-melee-2.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/human-outlaws/thug-melee-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/human-outlaws/thug-melee-3.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/thug-melee-4.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/thug-melee-5.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/thug-melee-6.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/thug-melee-7.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/thug-melee-8.png"
        [/frame]
    [/attack_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        [frame]
            duration=100
            image="units/human-outlaws/thug-idle-1.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/thug-idle-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/thug-idle-3.png"
        [/frame]
        [frame]
            duration=400
            image="units/human-outlaws/thug-idle-4.png"
        [/frame]
        [frame]
            duration=300
            image="units/human-outlaws/thug-idle-5.png"
        [/frame]
        [frame]
            duration=400
            image="units/human-outlaws/thug-idle-4.png"
        [/frame]
        [frame]
            duration=300
            image="units/human-outlaws/thug-idle-5.png"
        [/frame]
        [frame]
            duration=600
            image="units/human-outlaws/thug-idle-4.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/thug-idle-5.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/thug-idle-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/thug-idle-1.png"
        [/frame]
    [/idle_anim]
[/unit_type]
