#textdomain wesnoth-units
[unit_type]
    id=ice2
    name= _ "Icecaster lvl3"
    race=towerVe
    gender=male
    image="units/undead-necromancers/necromancer.png"
    profile="portraits/humans/necromancer.png"
    ellipse="misc/ellipse-nozoc"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=1
    movement_type=smallfoot
    movement=0
    experience=54
    level=0
    alignment=neutral
    advances_to=null
    {AMLA_TOWER}
    cost=20
    usage=archer
    description= _ "Ice towers slow down enemies. When advanced they gain multi-strike."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/necromancer.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/necromancer.png"
    [/portrait]
    [attack]
        name=chill wave
        description=_"chill wave"
        type=cold
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_BLIZZARD}
        [/specials]
        range=ranged
        damage=9
        number=3
        icon=attacks/iceball.png
    [/attack]

	[abilities]
		{ABILITY_MULTI_ATTACK}
	[/abilities]

    [attack_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        [missile_frame]
            begin=-100
            end=100
            image="projectiles/darkmissile-n.png"
            image_diagonal="projectiles/darkmissile-ne.png"
        [/missile_frame]

        [frame]
            begin=-300
            end=-225
            image="units/undead-necromancers/necromancer-magic-1.png"
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/undead-necromancers/necromancer-magic-2.png"
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/undead-necromancers/necromancer-magic-3.png"
            halo=halo/undead/black-magic-1.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-75
                end=0
                image="units/undead-necromancers/necromancer-magic-3.png"
                sound=magic-dark.ogg
                halo=halo/undead/black-magic-2.png
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-75
                end=0
                image="units/undead-necromancers/necromancer-magic-3.png"
                sound=magic-dark-miss.ogg
                halo=halo/undead/black-magic-2.png
            [/frame]
        [/else]
        [frame]
            begin=0
            end=75
            image="units/undead-necromancers/necromancer-magic-3.png"
            halo=halo/undead/black-magic-3.png
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/undead-necromancers/necromancer-magic-3.png"
            halo=halo/undead/black-magic-4.png
        [/frame]

        [frame]
            begin=150
            end=200
            image="units/undead-necromancers/necromancer-magic-3.png"
            halo=halo/undead/black-magic-5.png
        [/frame]
        [frame]
            begin=200
            end=250
            image="units/undead-necromancers/necromancer-magic-2.png"
        [/frame]
        [frame]
            begin=250
            end=300
            image="units/undead-necromancers/necromancer-magic-1.png"
        [/frame]
    [/attack_anim]
    [event]
        name=attacker hits
	first_time_only=no
	[filter]
              type=ice2
	[/filter]
            [store_unit]
	    [filter]
               side=5
               [filter_adjacent]
                  x,y=$x1,$y1
               [/filter_adjacent]
	    [/filter]
               variable=AoE_array
               kill=no
            [/store_unit]
            {FOREACH unit_array u}
               [set_variable]
                  name=AoE_array[$u].status.slowed
                  value=yes
               [/set_variable]
               [unstore_unit]
                      variable=AoE_array[$u]
                      text=_ "iced"
                      red,green,blue=180,180,255
               [/unstore_unit]
            {NEXT u}
    [/event]
[/unit_type]
