#textdomain wesnoth-units
[unit_type]
    id=Wave16b
    name= _ "Dwarvish Stalwart"
    race=dwarf
    image="units/dwarves/stalwart.png"
    profile=portraits/dwarves/sentinel.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=240
    movement_type=dwarvishfoot
    movement=4
    experience=85
    level=2
    alignment=neutral
    advances_to=Dwarvish Sentinel
    undead_variation=dwarf
    cost=40
    usage=fighter
    description= _ "The wiles of experience and training turn guardsmen into worthy soldiers. These stalwart troops are equipped to match their skills, and can hold their ground against all but the most visceral assault. It is a dangerous thing to lose a foothold to one such as these, for it will not be easily reprised."+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEADFAST}
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/dwarves/stalwart-defend-2.png" "units/dwarves/stalwart-defend-1.png" {SOUND_LIST:DWARF_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/dwarves/transparent/sentinel.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/dwarves/transparent/sentinel.png"
    [/portrait]
    [defense]
        flat=60
        forest=60
        sand=60
        mountains=40
        hills=50
    [/defense]
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
[/unit_type]
