#textdomain wesnoth-units
[unit_type]
    id=Wave5
    name= _ "Saurian Augur"
    race=lizard
    image="units/saurians/augur.png"
    ellipse="misc/ellipse"
    profile="portraits/saurians/augur.png"
    {DEFENSE_ANIM "units/saurians/augur-defend-2.png" "units/saurians/augur-defend-1.png" hiss-hit.wav }
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=22
    movement_type=lizard
    movement=6
    experience=28
    level=1
    alignment=chaotic
    advances_to=Saurian Oracle,Saurian Soothsayer
    undead_variation=saurian
    cost=8
    usage=healer
    description= _ "Saurians have some knowledge of what men call sorcery, but their practice of it reeks of augury and black magic. It is little understood, but rightly regarded with fear by those against whom it is used."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_HEALS}
    die_sound=hiss-die.wav
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/saurians/transparent/augur.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/saurians/transparent/augur.png"
    [/portrait]
    [abilities]
        {ABILITY_HEALS}
    [/abilities]
    [healing_anim]
        start_time=-300
        [frame]
            duration=50
            image="units/saurians/augur-magic-1.png"
            halo=halo/saurian-magic-halo-1.png
        [/frame]
        [frame]
            duration=60
            image="units/saurians/augur-magic-1.png"
            halo=halo/saurian-magic-halo-2.png
        [/frame]
        [frame]
            duration=70
            image="units/saurians/augur-magic-2.png"
            halo=halo/saurian-magic-halo-3.png
        [/frame]
        [frame]
            duration=80
            image="units/saurians/augur-magic-2.png"
            halo=halo/saurian-magic-halo-4.png
        [/frame]
        [frame]
            duration=90
            image="units/saurians/augur-magic-1.png"
            halo=halo/saurian-magic-halo-5.png
        [/frame]
        [frame]
            duration=100
            image="units/saurians/augur-magic-1.png"
            halo=halo/saurian-magic-halo-6.png
        [/frame]
        [frame]
            duration=100
            image="units/saurians/augur.png"
            halo=halo/saurian-magic-halo-7.png
        [/frame]
    [/healing_anim]
[/unit_type]
